.nav {
  max-width: 1440px;
  margin: 0 auto;
  height: 80px;
  padding: 10px;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.nav ul:last-child {
  justify-content: flex-end;
}

.logo {
  width: 180px;
  height: 55px;
}

.nav ul li a {
  margin: 0px 15px;
}

.nav input {
  font: inherit;
  border-width: 0;
}

.nav input:focus,
.nav textarea:focus,
.nav select:focus {
  outline: none;
}

.button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border: solid 0.2rem #000;
  border-radius: 2rem;
}
